@tailwind base;

html {
	scroll-behavior: smooth;
	/* margin-left: calc(100vw - 100%); */
	word-break: break-word;
}

/* Scrollbar styles */

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: hsl(var(--s)) hsl(var(--p));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: hsl(var(--p));
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: hsl(var(--s));
	border-radius: 14px;
	border: 3px solid hsl(var(--p));
}

*::-webkit-scrollbar-thumb:hover {
	background-color: hsl(var(--a));
}

@tailwind components;
@tailwind utilities;
